/dts-v1/;
#include "sun8i-v3s-linux.dtsi"
#include "sunxi-common-regulators.dtsi"

/ {
	model = "Lichee Pi Zero";
	compatible = "licheepi,licheepi-zero", "allwinner,sun8i-v3s";

	aliases {
		serial0 = &uart0;
		spi0 = &spi0;
	};

	chosen {
		stdout-path = "serial0:115200n8";
	};

	leds {
		compatible = "gpio-leds";

		blue_led {
			label = "blue";
			gpios = <&pio 6 1 GPIO_ACTIVE_LOW>; /* PG1 */
		};

		green_led {
			label = "green";
			gpios = <&pio 6 0 GPIO_ACTIVE_LOW>; /* PG0 */
			default-state = "on";
		};

		red_led {
			label = "red";
			gpios = <&pio 6 2 GPIO_ACTIVE_LOW>; /* PG2 */
		};
	};
};

&ehci0 {
	status = "okay";
};

&ohci0 {
	status = "okay";
};

&mmc0 {
	broken-cd;
	bus-width = <4>;
	vmmc-supply = <&reg_vcc3v3>;
	status = "disabled";
};

&uart0 {
	pinctrl-0 = <&uart0_pb_pins>;
	pinctrl-names = "default";
	status = "okay";
};

&usb_otg {
	dr_mode = "peripheral";
	status = "okay";
};

&usbphy {
	usb0_id_det = <&pio 5 6 GPIO_ACTIVE_HIGH>; /* PF6 */
	status = "okay";
};

&i2c0 {
	pinctrl-0 = <&i2c0_pins>;
	pinctrl-names = "default";
	status = "okay";
	
//	clock-frequency = <400000>;
	
	ns2009: ns2009@48 {
		compatible = "nsiway,ns2009";
		reg = <0x48>;
	};

};

&i2c1 {
	pinctrl-0 = <&i2c1_pe_pins>;
	pinctrl-names = "default";
	status = "okay";
	
	clock-frequency = <400000>;

	gc0403: camera@3c {
		compatible = "galaxycore,gc0403";
		reg = <0x3c>;
		
		rockchip,camera-module-index = <0>;
		rockchip,camera-module-facing = "front";
		rockchip,camera-module-name = "Galaxycore gc0403";
		rockchip,camera-module-lens-name = "== ? --";
		
		pinctrl-names = "default";
		pinctrl-0 = <&csi1_mclk_pin>;
		
//		clocks = <&ccu CLK_CSI1_MCLK>;
		clocks = <&ccu CLK_CSI0_MCLK>;              // need for PE20
		clock-names = "xvclk";

		powerdown-gpios = <&pio 4 17 GPIO_ACTIVE_HIGH>; /* PE17 */  // pwdn name dont be effect
		reset-gpios = <&pio 4 16 GPIO_ACTIVE_HIGH>;

		port {
			gc0403_ep: endpoint {
				remote-endpoint = <&csi1_in_ep>;
				bus-type = <5>;					// Parallel
				bus-width = <8>;				// number of data lines actively used, valid for the parallel busses.
				data-shift = <4>;
				hsync-active = <1>;				// active state of the HSYNC signal, 0/1 for LOW/HIGH respectively.
				vsync-active = <0>;				// active state of the VSYNC signal, 0/1 for LOW/HIGH respectively.
				data-active = <1>;				// similar to HSYNC and VSYNC, specifies data line polarity.
				pclk-sample = <1>;				// sample data on rising (1) or falling (0) edge of the pixel clock signal.
			};
		};
	};
};

&csi1 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&csi1_8bit_pins>;

	ports {
		#address-cells = <1>;
		#size-cells = <0>;
		
		port@0 {
			reg = <0>;
			/* Parallel bus endpoint */

			csi1_in_ep: endpoint {
				remote-endpoint = <&gc0403_ep>;
				bus-type = <5>;					// Parallel
				data-shift = <4>;
				bus-width = <8>;				// number of data lines actively used, valid for the parallel busses.
				hsync-active = <1>;				// active state of the HSYNC signal, 0/1 for LOW/HIGH respectively.
				vsync-active = <0>;				// active state of the VSYNC signal, 0/1 for LOW/HIGH respectively.
				data-active = <1>;				// similar to HSYNC and VSYNC, specifies data line polarity.
				pclk-sample = <1>;				// sample data on rising (1) or falling (0) edge of the pixel clock signal.
			};
		};
		
		port@1{				// description: MIPI CSI-2 bridge input port
			reg = <1>;
		};

		port@2 {			// https://mjmwired.net/kernel/Documentation/devicetree/bindings/media/allwinner,sun6i-a31-csi.yaml
			reg = <2>;

//			csi1_out_ep: endpoint {
//				remote-endpoint = <&isp_in>;
//			};
		};
	};
};

//&isp {
//	status = "okay";
	
//	ports {
//		#address-cells = <1>;
//		#size-cells = <0>;

//		port@0 {
//			reg = <0>;
//			isp_in: endpoint {
////				remote-endpoint = <&csi1_in_ep>;
//				remote-endpoint = <&csi1_out_ep>;
//			};
//		};
		
//		port@1 {			// https://mjmwired.net/kernel/Documentation/devicetree/bindings/media/allwinner,sun6i-a31-isp.yaml
//			reg = <1>;

////			isp_in: endpoint {
////				remote-endpoint = <&csi1_in_ep>;
////				remote-endpoint = <&csi1_out_ep>;
////			};
//		};
//	};
//};

&spi0 {
	status = "okay";
	
	spi-nor@0 {
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "macronix,mx25l25635e", "jedec,spi-nor";
		reg = <0>;
		spi-max-frequency = <50000000>;
		status = "okay";

		partitions {
			compatible = "fixed-partitions";
			#address-cells = <1>;
			#size-cells = <1>;

			partition@0 {
				label = "u-boot";
				reg = <0x000000 0x50000>;
				read-only;
			};

			partition@1 {
				label = "dtb";
				reg = <0x50000 0x4000>;
				read-only;
			};

			partition@2 {
				label = "kernel";
				reg = <0x60000 0x300000>;
				read-only;
			};

			partition@3 {
				label = "rootfs";
//				reg = <0x360000 0x880000>;
//				reg = <0x360000 0xCA0000>;
//				reg = <0x360000 0xC50000>;
				reg = <0x360000 0x1A00000>;
//				read-only;
			};

			partition@4 {
				label = "home";
//				reg = <0xfb0000 0x50000>;
//				reg = <0x1000000 0x1000000>;
				reg = <0x1D60000 0x2A0000>;
			};
		};
	};

	//spi-nand@0 {
		//#address-cells = <1>;
		//#size-cells = <1>;
		//compatible = "spi-nand";
		//reg = <0>;
		//spi-max-frequency = <50000000>;
		//status = "disabled";

		//partitions {
			//compatible = "fixed-partitions";
			//#address-cells = <1>;
			//#size-cells = <1>;

			//partition@0 {
				//label = "u-boot";
				//reg = <0x000000 0x80000>;
				//read-only;
			//};

			//partition@1 {
				//label = "dtb";
				//reg = <0x80000 0x20000>;
				//read-only;
			//};

			//partition@2 {
				//label = "kernel";
				//reg = <0x100000 0x700000>;
				//read-only;
			//};

			//partition@3 {
				//label = "rom";
				//reg = <0x800000 0x4000000>;
				//read-only;
			//};

			//partition@4 {
				//label = "overlay";
				//reg = <0x4800000 0x3000000>;
			//};
		//};
	//};
};
